body{
  background-color: #222427;
}

.App {
  text-align: center;
}

.Title {
  background-color: black;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgba(255, 228, 196);;
  font-family: Serif;
  font-size: 30px;
}

.Listing {
  background-color: black;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Input{
  margin: 10px;
}

.InputButton{
  background-color: rgba(255, 228, 196, 0.7);
  border-radius: 5px;
  padding-left:  7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ItemListGrid {
  margin: 7vh 15vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ItemList {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Item{
  background-color:rgba(255, 255, 255, 0.3);
  margin: 20px;
}

.ItemImage{
  width: 170px;
  height: 230px;
  border: thick ridge #ffffff;
}

.ItemInfo{
  color: rgba(255, 228, 196, 0.7);
  margin: 5px;
}

.ItemContent{
  font-size: 14px;
  font-family: Serif;
  margin: 5px;
}

.ItemName{
  color: rgba(255, 228, 196);
  font-size: 16px;
  font-family: Serif;
  font-weight:500;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
